@import "tailwindcss";



header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}


.logo {
    width: 200px;
}

ul {
    display:flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.home-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 100px;
}

.home-info-cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}


.home-img {
    height: 500px;
}

.top-txt {
    font-family: Albert Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    text-transform: uppercase;
}


h1 {
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;

}

.btm-txt {
    font-family: Albert Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
}

button {
    font-family: Albert Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid #1E1E1E;
    padding: 8px;
    cursor: pointer;


}

.about-img {
    height: 100%;
}

@media (max-width: 768px) {
    .home-cont {
        flex-direction: column;
    }
    img {
        height: 465px;
    }
    .top-txt {
        display: none;
    }
}